services: #Cada servicio es un contenedor Docker
  # BACKEND SPRING BOOT
  server:
    build:  # Construye la imagen a partir del Dockerfile en el contexto especificado
      context: ./server
      no_cache: true      # Esto evita que se cacheen capas de la imagen
    container_name: museo-backend
    ports:   #Necesario para que el navegador pueda acceder al servicio
      - "8080:8080"

  # FRONTEND VUE
  client:
    build:
      context: ./client
      no_cache: true
    container_name: museo-frontend
    ports:
      - "1234:80"

  # MICROSERVICIO THE MET
  met-microservice:
    build:
      context: ./met-microservice
      no_cache: true
    container_name: museo-met-service
    ports:
      - "8081:8081"

  # BD POSTGRESQL
  database:
    image: postgres:14.1-alpine #Carga una imagen oficial desde un repositorio
    #restart: always            #Esta opción permite que el contenedor se reinicie si falla
    container_name: museo-postgres
    environment:                #Variables de entorno para configurar el contenedor
      - POSTGRES_USER=museo_user
      - POSTGRES_PASSWORD=museo_pass
      - POSTGRES_DB=museo_db
    ports:
      - "5454:5432"           #Desde fuera de Docker sería accesible en el puerto 5454. El servidor puede acceder directamente en el 5432
    volumes:                    #Este contenedor almacena sus datos en el volumen "database"
      - database:/var/lib/postgresql/data

volumes:
  database:  #Generamos un volumen con el contenido de la base de datos
    driver: local